---
import MainLayout from "../layouts/MainLayout.astro";
import { fetchHomepage } from "../lib/fetchHomepage";
import Hero from "@/components/hero";

const homepageData = await fetchHomepage();
const {
  title,
  description,
  homePageImages,
  heroImgText,
  healthCareProvidersImages,
  pmbSolutionsTitle,
  pmbSolutionsDescription,
  pmbSolutionsImage,
  ourServicesTitle,
  ourServicesDescription,
  servicesSections,
  howOurPlatformWorks,
  howOurPlatformWorksDescription,
  howOurPlatformWorksImage,
  howPlatformWorksSections,
  learnMoreSection,
  learnMoreSectionDescription,
  learnMoreSectionImage,
  bookAppointmentTitle,
  bookAppointmentDescription,
  bookAppointmentBenefits,
  bookAppointmentImage,
  sideIcons,
  endorsementImages,
  quoteIcon,
} = homepageData;

console.log("bg:", quoteIcon);
---

<MainLayout>
  <main class="mx-auto">
    <!-- hero section -->
    <section class="mb-28 mt-6 max-lg:mt-2 mx-auto">
      <Hero
        title={title}
        description={description}
        imageUrl={homePageImages?.[2]?.asset?.url}
        groupIconImage={homePageImages?.[0]?.asset?.url}
        backgroundSvg={homePageImages?.[1]?.asset?.url}
        partnerLogos={healthCareProvidersImages?.map(
          (image: any) => image?.asset?.url
        )}
        endorsementImages={endorsementImages?.map(
          (image: any) => image?.asset?.url
        )}
        heroImageText={heroImgText}
        quoteIcon={quoteIcon?.asset?.url}
      />
    </section>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
  </main>
</MainLayout>
